@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  width: 100%;
  height: 100%;
  overflow: hidden; }

::-webkit-scrollbar {
  width: 0; }

a {
  text-decoration: none; }

.button {
  width: 150px;
  height: 20px;
  padding: 10px 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background: #00000000; }

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 240px);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 120px;
  margin-top: 70px;
  z-index: 998; }
  #navbar #logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: .75;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out; }
    #navbar #logo .col {
      height: 100%; }
      #navbar #logo .col h1 {
        text-transform: uppercase;
        margin: 0;
        font-size: 18px;
        text-align: center;
        color: #ffffff; }
      #navbar #logo .col img {
        height: 100%; }
      #navbar #logo .col:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #navbar #logo .col:nth-child(1) h1 {
          letter-spacing: 3px; }
      #navbar #logo .col:nth-child(2) h1 {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: -6px;
        font-size: 18px; }
    #navbar #logo:hover {
      opacity: .9; }
  #navbar #burger {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #050505; }
  nav .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: -webkit-linear-gradient(85deg, #1A1C28, #000);
    background: -o-linear-gradient(85deg, #1A1C28, #000);
    background: linear-gradient(5deg, #1A1C28, #000); }
    nav .container .close {
      position: absolute;
      top: 70px;
      right: 150px;
      z-index: 1001;
      width: 50px;
      height: 50px; }
      nav .container .close img {
        width: 50px;
        height: 50px; }
    nav .container ul {
      list-style-type: none;
      margin: 0;
      position: relative;
      right: 0;
      width: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      nav .container ul li {
        border-radius: 50%;
        -webkit-animation: shadowAnim 5s linear infinite;
        animation: shadowAnim 5s linear infinite;
        position: absolute;
        -webkit-box-shadow: -2px 5px 5px 0 #4B0115;
        box-shadow: -2px 5px 5px 0 #4B0115;
        -webkit-transition: -webkit-box-shadow .4s linear;
        transition: -webkit-box-shadow .4s linear;
        -o-transition: box-shadow .4s linear;
        transition: box-shadow .4s linear;
        transition: box-shadow .4s linear, -webkit-box-shadow .4s linear;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #00000020; }
        nav .container ul li:hover {
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
          background: #00000050; }
          nav .container ul li:hover h1 {
            opacity: .6; }
        nav .container ul li:nth-child(1) {
          width: 250px;
          height: 250px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          z-index: 6;
          -webkit-animation-delay: .7s;
          animation-delay: .7s; }
          nav .container ul li:nth-child(1):hover {
            -webkit-animation-play-state: running;
            animation-play-state: running;
            -webkit-box-shadow: -2px 5px 5px 0 #ffffff30;
            box-shadow: -2px 5px 5px 0 #ffffff30; }
          nav .container ul li:nth-child(1) img {
            max-width: 60%;
            border-radius: 50%;
            -webkit-filter: brightness(1.5) blur(2px);
            filter: brightness(1.5) blur(2px); }
        nav .container ul li:nth-child(2) {
          width: 450px;
          height: 450px;
          z-index: 5; }
          nav .container ul li:nth-child(2) a h1 {
            -webkit-animation: spinMeClockwise 270s linear infinite;
            animation: spinMeClockwise 270s linear infinite; }
        nav .container ul li:nth-child(3) {
          width: 650px;
          height: 650px;
          z-index: 4;
          -webkit-animation-delay: 2s;
          animation-delay: 2s; }
          nav .container ul li:nth-child(3) a h1 {
            -webkit-animation: spinMeCounterClockwise 240s linear infinite;
            animation: spinMeCounterClockwise 240s linear infinite; }
        nav .container ul li:nth-child(4) {
          width: 850px;
          height: 850px;
          z-index: 3;
          -webkit-animation-delay: 4s;
          animation-delay: 4s; }
          nav .container ul li:nth-child(4) a h1 {
            -webkit-animation: spinMeClockwise 300s linear infinite;
            animation: spinMeClockwise 300s linear infinite; }
        nav .container ul li:nth-child(5) {
          width: 1250px;
          height: 1250px; }
          nav .container ul li:nth-child(5):hover {
            background: #00000020; }
        nav .container ul li:nth-child(6) {
          width: 1850px;
          height: 1850px; }
          nav .container ul li:nth-child(6):hover {
            background: #00000020; }
        nav .container ul li a {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          nav .container ul li a h1 {
            font-size: 26px;
            color: #fff;
            opacity: .3;
            margin: 0;
            -webkit-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s;
            text-transform: uppercase;
            letter-spacing: 2px; }

@-webkit-keyframes spinMeClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinMeClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinMeCounterClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes spinMeCounterClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes shadowAnim {
  0%, 100% {
    -webkit-box-shadow: -2px 5px 5px 0 #70032090;
    box-shadow: -2px 5px 5px 0 #70032090; }
  25% {
    -webkit-box-shadow: 0 7px 3px 0 #70032090;
    box-shadow: 0 7px 3px 0 #70032090; }
  66% {
    -webkit-box-shadow: -5px 0 7px 0 #70032090;
    box-shadow: -5px 0 7px 0 #70032090; } }

@keyframes shadowAnim {
  0%, 100% {
    -webkit-box-shadow: -2px 5px 5px 0 #70032090;
    box-shadow: -2px 5px 5px 0 #70032090; }
  25% {
    -webkit-box-shadow: 0 7px 3px 0 #70032090;
    box-shadow: 0 7px 3px 0 #70032090; }
  66% {
    -webkit-box-shadow: -5px 0 7px 0 #70032090;
    box-shadow: -5px 0 7px 0 #70032090; } }

.sm {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  bottom: 140px;
  right: 3px; }
  .sm li {
    width: 40px;
    height: 40px;
    margin: .5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sm li img {
      max-height: 30px;
      max-width: 30px; }

.scroll-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  top: calc(100% - 300px);
  left: 200px;
  height: 300px;
  width: 50px; }
  .scroll-indicator span {
    position: absolute;
    color: #fff;
    font-size: 22px;
    -webkit-transform: translateX(-120px) translateY(35px) rotateZ(-90deg);
    -ms-transform: translateX(-120px) translateY(35px) rotate(-90deg);
    transform: translateX(-120px) translateY(35px) rotateZ(-90deg);
    width: 100px;
    border-top: 3px solid #F30647;
    padding-top: 5px;
    -webkit-animation: flash 3s infinite;
    animation: flash 3s infinite; }

@-webkit-keyframes flash {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes flash {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

section {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: visible; }

.wrap {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  background: url(/img/mainBg.svg);
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  .wrap #s1 .circles {
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 0 !important;
    opacity: .25;
    overflow: hidden; }
    .wrap #s1 .circles .circle {
      position: absolute;
      border-radius: 50%;
      -webkit-box-shadow: 0 0 5px 2px #ffffff30;
      box-shadow: 0 0 5px 2px #ffffff30;
      background: -webkit-radial-gradient(#000000, #1C1F2E);
      background: -o-radial-gradient(#000000, #1C1F2E);
      background: radial-gradient(#000000, #1C1F2E); }
      .wrap #s1 .circles .circle:nth-child(1) {
        width: 150px;
        height: 150px;
        left: 450px;
        z-index: 5; }
      .wrap #s1 .circles .circle:nth-child(2) {
        width: 300px;
        height: 300px;
        left: 375px;
        z-index: 4; }
      .wrap #s1 .circles .circle:nth-child(3) {
        width: 600px;
        height: 600px;
        left: 250px;
        z-index: 3; }
      .wrap #s1 .circles .circle:nth-child(4) {
        width: 1200px;
        height: 1200px;
        left: 100px;
        z-index: 2; }
      .wrap #s1 .circles .circle:nth-child(5) {
        width: 2000px;
        height: 2000px;
        z-index: 1;
        left: -150px; }
  .wrap #s1 .text {
    height: 100%;
    position: absolute;
    right: 0;
    padding: 0 200px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 40%;
    text-align: right; }
    .wrap #s1 .text div {
      overflow: hidden; }
    .wrap #s1 .text h1 {
      margin: 0;
      color: #f2f2f2;
      font-size: 3em;
      line-height: 1.4em;
      margin-top: 140px; }
      .wrap #s1 .text h1 span {
        font-size: 1.5em;
        color: #F30647; }
    .wrap #s1 .text p {
      font-size: 1.3em;
      margin: 0;
      margin-top: 35px;
      margin-bottom: 70px;
      line-height: 1.5em;
      color: #ddd; }
    .wrap #s1 .text a {
      background: url(/img/btn_red.svg);
      background-size: contain;
      background-repeat: no-repeat; }
  .wrap .project {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    .wrap .project .container {
      width: calc(100% - 400px);
      height: calc(100% - 200px);
      background: #1A1C28;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: (25%)[4];
      grid-template-columns: repeat(4, 25%);
      -ms-grid-rows: (50%)[4];
      grid-template-rows: repeat(4, 50%);
      margin-top: 70px; }
      .wrap .project .container .background {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        -ms-grid-column-span: 4;
        grid-area: 1/1/3/5;
        background: #1A1C28; }
      .wrap .project .container .title {
        -ms-grid-column: 3;
        -ms-grid-column-span: 2;
        grid-area: 2/3/auto/span 2;
        background: #1C1F2E;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: left;
        -ms-flex-pack: left;
        justify-content: left;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        padding: 35px 70px;
        z-index: 1;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        .wrap .project .container .title h1 {
          font-size: 120px;
          max-width: 80%;
          margin: 0;
          width: 30%;
          text-align: center;
          text-transform: uppercase;
          z-index: 1;
          color: #0057AA;
          letter-spacing: 5px; }
          .wrap .project .container .title h1 span {
            color: #fff; }
        .wrap .project .container .title h2 {
          font-size: 250px;
          color: transparent;
          -webkit-text-stroke: 1px #fff;
          opacity: .025;
          font-family: 'Lucida Sans', sans-serif;
          margin-left: 70px; }
      .wrap .project .container .description {
        -ms-grid-row: 1;
        -ms-grid-row-span: 2;
        -ms-grid-column: 1;
        grid-area: 1/1/3/1;
        background: #1C1F2E;
        padding: 35px 70px;
        z-index: 1; }
        .wrap .project .container .description h1 {
          color: #F30647;
          font-weight: 300;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
        .wrap .project .container .description p {
          color: #eee; }
        .wrap .project .container .description .colors {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .wrap .project .container .description .colors .color {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-pack: center;
            -ms-flex-pack: center;
            justify-content: center;
            -webkit-box-align: center;
            -ms-flex-align: center;
            align-items: center;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column; }
            .wrap .project .container .description .colors .color .marker {
              border-radius: 50%;
              height: 50px;
              width: 50px;
              background: #fff;
              -webkit-user-select: none;
              -moz-user-select: none;
              -ms-user-select: none;
              user-select: none; }
            .wrap .project .container .description .colors .color h3 {
              color: #eee;
              font-weight: 300; }
        .wrap .project .container .description .typography {
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: justify;
          -ms-flex-pack: justify;
          justify-content: space-between; }
          .wrap .project .container .description .typography .col {
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            -webkit-box-orient: vertical;
            -webkit-box-direction: normal;
            -ms-flex-direction: column;
            flex-direction: column;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-align: start;
            -ms-flex-align: start;
            align-items: flex-start; }
            .wrap .project .container .description .typography .col h1 {
              font-weight: 300;
              font-size: 40px;
              margin: 5px 0;
              color: #fff; }
            .wrap .project .container .description .typography .col span {
              color: #ddd; }
        .wrap .project .container .description a {
          background: url(/img/btn_red.svg);
          background-size: contain;
          background-repeat: no-repeat;
          margin-top: 70px;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none; }
      .wrap .project .container .photo-sm1 {
        -ms-grid-row: 1;
        -ms-grid-column: 2;
        -ms-grid-column-span: 1;
        grid-area: 1/2/1/3;
        background: #F30647;
        z-index: 0;
        background-size: cover !important; }
      .wrap .project .container .photo-sm2 {
        -ms-grid-row: 1;
        -ms-grid-column: 4;
        grid-area: 1/4/1/4;
        background: #4B0115;
        z-index: 0;
        background-size: cover !important; }
    .wrap .project .controlls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 35px;
      position: relative; }
      .wrap .project .controlls .next, .wrap .project .controlls .prev {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center; }
        .wrap .project .controlls .next h1, .wrap .project .controlls .prev h1 {
          position: absolute;
          font-size: 70px;
          bottom: -15px;
          padding-bottom: 5px;
          -webkit-text-stroke: 1px #ffffff10;
          color: transparent;
          margin: 0;
          font-family: 'Lucida Sans', sans-serif;
          -webkit-user-select: none;
          -moz-user-select: none;
          -ms-user-select: none;
          user-select: none;
          pointer-events: none; }
        .wrap .project .controlls .next a, .wrap .project .controlls .prev a {
          border-bottom: 3px solid #F30647;
          margin: 0 10px;
          font-size: 30px; }
          .wrap .project .controlls .next a i, .wrap .project .controlls .prev a i {
            margin: 0 10px; }
      .wrap .project .controlls .next h1 {
        right: 0; }
      .wrap .project .controlls .prev h1 {
        left: 0; }
      .wrap .project .controlls .prev:hover i {
        -webkit-animation: icoAnimCc 1s ease-out forwards;
        animation: icoAnimCc 1s ease-out forwards; }
      .wrap .project .controlls .next:hover i {
        -webkit-animation: icoAnimCl 1s ease-out forwards;
        animation: icoAnimCl 1s ease-out forwards; }

@-webkit-keyframes icoAnimCl {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; } }

@keyframes icoAnimCl {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; } }

@-webkit-keyframes icoAnimCc {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; } }

@keyframes icoAnimCc {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; } }
  .wrap #s2 .container .background {
    background: -webkit-gradient(linear, left top, left bottom, from(#0057AA90), to(#0057AA90)), url(/img/tesat_p1.jpg);
    background: -webkit-linear-gradient(#0057AA90, #0057AA90), url(/img/tesat_p1.jpg);
    background: -o-linear-gradient(#0057AA90, #0057AA90), url(/img/tesat_p1.jpg);
    background: linear-gradient(#0057AA90, #0057AA90), url(/img/tesat_p1.jpg);
    background-position: 30% 100%; }
  .wrap #s2 .container .photo-sm1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#0057AA50), to(#0057AA50)), url(/img/tesat_p2.jpg);
    background: -webkit-linear-gradient(#0057AA50, #0057AA50), url(/img/tesat_p2.jpg);
    background: -o-linear-gradient(#0057AA50, #0057AA50), url(/img/tesat_p2.jpg);
    background: linear-gradient(#0057AA50, #0057AA50), url(/img/tesat_p2.jpg); }
  .wrap #s2 .container .photo-sm2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#0057AA60), to(#0057AA60)), url(/img/tesat_p1.jpg);
    background: -webkit-linear-gradient(#0057AA60, #0057AA60), url(/img/tesat_p1.jpg);
    background: -o-linear-gradient(#0057AA60, #0057AA60), url(/img/tesat_p1.jpg);
    background: linear-gradient(#0057AA60, #0057AA60), url(/img/tesat_p1.jpg); }
  .wrap #s3 .title h1 {
    color: #FF0A5E; }
  .wrap #s3 .container .background {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFE7DB90), to(#FFE7DB90)), url(/img/sap_1.jpg);
    background: -webkit-linear-gradient(#FFE7DB90, #FFE7DB90), url(/img/sap_1.jpg);
    background: -o-linear-gradient(#FFE7DB90, #FFE7DB90), url(/img/sap_1.jpg);
    background: linear-gradient(#FFE7DB90, #FFE7DB90), url(/img/sap_1.jpg); }
  .wrap #s3 .container .photo-sm1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFE7DB70), to(#FFE7DB70)), url(/img/sap_3.jpg);
    background: -webkit-linear-gradient(#FFE7DB70, #FFE7DB70), url(/img/sap_3.jpg);
    background: -o-linear-gradient(#FFE7DB70, #FFE7DB70), url(/img/sap_3.jpg);
    background: linear-gradient(#FFE7DB70, #FFE7DB70), url(/img/sap_3.jpg); }
  .wrap #s3 .container .photo-sm2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#FFE7DB70), to(#FFE7DB70)), url(/img/sap_3.jpg);
    background: -webkit-linear-gradient(#FFE7DB70, #FFE7DB70), url(/img/sap_3.jpg);
    background: -o-linear-gradient(#FFE7DB70, #FFE7DB70), url(/img/sap_3.jpg);
    background: linear-gradient(#FFE7DB70, #FFE7DB70), url(/img/sap_3.jpg); }
  .wrap #s4 .container .background {
    background: -webkit-gradient(linear, left top, left bottom, from(#0057AA90), to(#0057AA90)), url(/img/tesat_p1.jpg);
    background: -webkit-linear-gradient(#0057AA90, #0057AA90), url(/img/tesat_p1.jpg);
    background: -o-linear-gradient(#0057AA90, #0057AA90), url(/img/tesat_p1.jpg);
    background: linear-gradient(#0057AA90, #0057AA90), url(/img/tesat_p1.jpg);
    background-position: 30% 100%; }
  .wrap #s4 .container .photo-sm1 {
    background: -webkit-gradient(linear, left top, left bottom, from(#0057AA50), to(#0057AA50)), url(/img/tesat_p2.jpg);
    background: -webkit-linear-gradient(#0057AA50, #0057AA50), url(/img/tesat_p2.jpg);
    background: -o-linear-gradient(#0057AA50, #0057AA50), url(/img/tesat_p2.jpg);
    background: linear-gradient(#0057AA50, #0057AA50), url(/img/tesat_p2.jpg); }
  .wrap #s4 .container .photo-sm2 {
    background: -webkit-gradient(linear, left top, left bottom, from(#0057AA60), to(#0057AA60)), url(/img/tesat_p1.jpg);
    background: -webkit-linear-gradient(#0057AA60, #0057AA60), url(/img/tesat_p1.jpg);
    background: -o-linear-gradient(#0057AA60, #0057AA60), url(/img/tesat_p1.jpg);
    background: linear-gradient(#0057AA60, #0057AA60), url(/img/tesat_p1.jpg); }
