@import url("https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400&display=swap");
html, body {
  padding: 0;
  margin: 0;
  font-family: "Cormorant Garamond", serif;
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth; }

::-webkit-scrollbar {
  width: 0; }

a {
  text-decoration: none; }

.button {
  width: 150px;
  height: 20px;
  padding: 10px 50px;
  font-size: 22px;
  line-height: 22px;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  color: #fff;
  background: #00000000; }

#navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: calc(100% - 240px);
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 120px;
  margin-top: 70px;
  z-index: 998; }
  #navbar #logo {
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    opacity: .75;
    -webkit-transition: opacity .3s ease-out;
    -o-transition: opacity .3s ease-out;
    transition: opacity .3s ease-out; }
    #navbar #logo .col {
      height: 100%; }
      #navbar #logo .col h1 {
        text-transform: uppercase;
        margin: 0;
        font-size: 18px;
        text-align: center;
        color: #ffffff; }
      #navbar #logo .col img {
        height: 100%; }
      #navbar #logo .col:nth-child(1) {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
        #navbar #logo .col:nth-child(1) h1 {
          letter-spacing: 3px; }
      #navbar #logo .col:nth-child(2) h1 {
        -webkit-writing-mode: vertical-rl;
        -ms-writing-mode: tb-rl;
        writing-mode: vertical-rl;
        text-orientation: upright;
        letter-spacing: -6px;
        font-size: 18px; }
    #navbar #logo:hover {
      opacity: .9; }
  #navbar #burger {
    height: 50px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }

nav {
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: 999;
  background: #050505; }
  nav .container {
    width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
    background: -webkit-linear-gradient(85deg, #1A1C28, #000);
    background: -o-linear-gradient(85deg, #1A1C28, #000);
    background: linear-gradient(5deg, #1A1C28, #000); }
    nav .container .close {
      position: absolute;
      top: 70px;
      right: 150px;
      z-index: 1001;
      width: 50px;
      height: 50px; }
      nav .container .close img {
        width: 50px;
        height: 50px; }
    nav .container ul {
      list-style-type: none;
      margin: 0;
      position: relative;
      right: 0;
      width: 100%;
      height: 100vh;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center; }
      nav .container ul li {
        border-radius: 50%;
        -webkit-animation: shadowAnim 5s linear infinite;
        animation: shadowAnim 5s linear infinite;
        position: absolute;
        -webkit-box-shadow: -2px 5px 5px 0 #4B0115;
        box-shadow: -2px 5px 5px 0 #4B0115;
        -webkit-transition: -webkit-box-shadow .4s linear;
        transition: -webkit-box-shadow .4s linear;
        -o-transition: box-shadow .4s linear;
        transition: box-shadow .4s linear;
        transition: box-shadow .4s linear, -webkit-box-shadow .4s linear;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background: #00000020; }
        nav .container ul li:hover {
          -webkit-animation-play-state: paused;
          animation-play-state: paused;
          background: #00000050; }
          nav .container ul li:hover h1 {
            opacity: .6; }
        nav .container ul li:nth-child(1) {
          width: 250px;
          height: 250px;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center;
          z-index: 6;
          -webkit-animation-delay: .7s;
          animation-delay: .7s; }
          nav .container ul li:nth-child(1):hover {
            -webkit-animation-play-state: running;
            animation-play-state: running;
            -webkit-box-shadow: -2px 5px 5px 0 #ffffff30;
            box-shadow: -2px 5px 5px 0 #ffffff30; }
          nav .container ul li:nth-child(1) img {
            max-width: 60%;
            border-radius: 50%;
            -webkit-filter: brightness(1.5) blur(2px);
            filter: brightness(1.5) blur(2px); }
        nav .container ul li:nth-child(2) {
          width: 450px;
          height: 450px;
          z-index: 5; }
          nav .container ul li:nth-child(2) a h1 {
            -webkit-animation: spinMeClockwise 270s linear infinite;
            animation: spinMeClockwise 270s linear infinite; }
        nav .container ul li:nth-child(3) {
          width: 650px;
          height: 650px;
          z-index: 4;
          -webkit-animation-delay: 2s;
          animation-delay: 2s; }
          nav .container ul li:nth-child(3) a h1 {
            -webkit-animation: spinMeCounterClockwise 240s linear infinite;
            animation: spinMeCounterClockwise 240s linear infinite; }
        nav .container ul li:nth-child(4) {
          width: 850px;
          height: 850px;
          z-index: 3;
          -webkit-animation-delay: 4s;
          animation-delay: 4s; }
          nav .container ul li:nth-child(4) a h1 {
            -webkit-animation: spinMeClockwise 300s linear infinite;
            animation: spinMeClockwise 300s linear infinite; }
        nav .container ul li:nth-child(5) {
          width: 1250px;
          height: 1250px; }
          nav .container ul li:nth-child(5):hover {
            background: #00000020; }
        nav .container ul li:nth-child(6) {
          width: 1850px;
          height: 1850px; }
          nav .container ul li:nth-child(6):hover {
            background: #00000020; }
        nav .container ul li a {
          width: 100%;
          height: 100%;
          border-radius: 50%;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-pack: center;
          -ms-flex-pack: center;
          justify-content: center;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          nav .container ul li a h1 {
            font-size: 26px;
            color: #fff;
            opacity: .3;
            margin: 0;
            -webkit-transition: opacity .5s;
            -o-transition: opacity .5s;
            transition: opacity .5s;
            text-transform: uppercase;
            letter-spacing: 2px; }

@-webkit-keyframes spinMeClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@keyframes spinMeClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg); } }

@-webkit-keyframes spinMeCounterClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@keyframes spinMeCounterClockwise {
  0% {
    -webkit-transform: rotate(0);
    transform: rotate(0); }
  100% {
    -webkit-transform: rotate(-360deg);
    transform: rotate(-360deg); } }

@-webkit-keyframes shadowAnim {
  0%, 100% {
    -webkit-box-shadow: -2px 5px 5px 0 #70032090;
    box-shadow: -2px 5px 5px 0 #70032090; }
  25% {
    -webkit-box-shadow: 0 7px 3px 0 #70032090;
    box-shadow: 0 7px 3px 0 #70032090; }
  66% {
    -webkit-box-shadow: -5px 0 7px 0 #70032090;
    box-shadow: -5px 0 7px 0 #70032090; } }

@keyframes shadowAnim {
  0%, 100% {
    -webkit-box-shadow: -2px 5px 5px 0 #70032090;
    box-shadow: -2px 5px 5px 0 #70032090; }
  25% {
    -webkit-box-shadow: 0 7px 3px 0 #70032090;
    box-shadow: 0 7px 3px 0 #70032090; }
  66% {
    -webkit-box-shadow: -5px 0 7px 0 #70032090;
    box-shadow: -5px 0 7px 0 #70032090; } }

.sm {
  list-style-type: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  position: fixed;
  bottom: 140px;
  right: 3px; }
  .sm li {
    width: 40px;
    height: 40px;
    margin: .5px 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    .sm li img {
      max-height: 30px;
      max-width: 30px; }

.scroll-indicator {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: absolute;
  top: calc(100% - 300px);
  left: 200px;
  height: 300px;
  width: 50px; }
  .scroll-indicator span {
    position: absolute;
    color: #fff;
    font-size: 22px;
    -webkit-transform: translateX(-120px) translateY(35px) rotateZ(-90deg);
    -ms-transform: translateX(-120px) translateY(35px) rotate(-90deg);
    transform: translateX(-120px) translateY(35px) rotateZ(-90deg);
    width: 100px;
    border-top: 3px solid #F30647;
    padding-top: 5px;
    -webkit-animation: flash 3s infinite;
    animation: flash 3s infinite; }

@-webkit-keyframes flash {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

@keyframes flash {
  0%, 100% {
    opacity: 1; }
  50% {
    opacity: .5; } }

.wrap {
  width: 100%;
  background: url(/img/tesat_bg.svg), -webkit-gradient(linear, left top, left bottom, from(#042366));
  background: url(/img/tesat_bg.svg), -webkit-linear-gradient(#042366);
  background: url(/img/tesat_bg.svg), -o-linear-gradient(#042366);
  background: url(/img/tesat_bg.svg), linear-gradient(#042366);
  background-attachment: fixed;
  background-size: 170%;
  background-repeat: no-repeat;
  background-position: center;
  position: relative; }

section {
  height: 100vh;
  width: 100%;
  overflow: visible;
  color: #fff;
  font-size: 50px;
  position: relative; }

.parallax {
  height: 40vh;
  width: 100%;
  position: relative;
  z-index: 0;
  background: gold;
  margin: 200px 0; }
  .parallax:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-attachment: fixed !important;
    background-repeat: no-repeat !important;
    background-size: 95% !important;
    background-position: center !important; }
  .parallax:nth-of-type(1) {
    -webkit-transform: skewX(-20deg) rotate(-10deg);
    -ms-transform: skewX(-20deg) rotate(-10deg);
    transform: skewX(-20deg) rotate(-10deg);
    margin: 100px 0 150px; }
    .parallax:nth-of-type(1):after {
      background: url(/img/GOALS.svg); }
  .parallax:nth-of-type(2) {
    -webkit-transform: skewX(20deg) rotate(10deg);
    -ms-transform: skewX(20deg) rotate(10deg);
    transform: skewX(20deg) rotate(10deg); }
    .parallax:nth-of-type(2):after {
      background: url(/img/TECH_USED.svg); }
  .parallax:nth-of-type(3) {
    -webkit-transform: skewX(-20deg) rotate(-10deg);
    -ms-transform: skewX(-20deg) rotate(-10deg);
    transform: skewX(-20deg) rotate(-10deg); }
    .parallax:nth-of-type(3):after {
      background: url(/img/OBSTACLES.svg); }
  .parallax:nth-of-type(4) {
    -webkit-transform: skewX(20deg) rotate(10deg);
    -ms-transform: skewX(20deg) rotate(10deg);
    transform: skewX(20deg) rotate(10deg); }
    .parallax:nth-of-type(4):after {
      background: url(/img/WHAT_IVE_LEARNED.svg); }

#s1 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1200px;
  perspective: 1200px; }
  #s1 #projectlogo {
    -webkit-filter: brightness(0) invert(1);
    filter: brightness(0) invert(1);
    height: 200px;
    width: 700px; }
  #s1 .slides {
    position: absolute;
    right: calc(20% + 100px);
    width: calc(50% + 100px);
    height: calc(70% + 100px);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-perspective: 1000px;
    perspective: 1000px; }
    #s1 .slides .controlls {
      margin-top: 450px; }
      #s1 .slides .controlls #prev, #s1 .slides .controlls #next {
        width: 50px;
        height: 50px;
        margin: 5px 100px 5px 0;
        color: #06B2F3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        background-repeat: no-repeat;
        font-size: 20px;
        cursor: pointer;
        border: 2px solid #06B2F3;
        -webkit-transition: .3s ease-out;
        -o-transition: .3s ease-out;
        transition: .3s ease-out;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none; }
        #s1 .slides .controlls #prev:hover, #s1 .slides .controlls #next:hover {
          color: #fff;
          border: 2px solid #fff; }
      #s1 .slides .controlls #prev:hover i {
        -webkit-animation: icoAnimCc 1s ease-out forwards;
        animation: icoAnimCc 1s ease-out forwards; }
      #s1 .slides .controlls #next:hover i {
        -webkit-animation: icoAnimCl 1s ease-out forwards;
        animation: icoAnimCl 1s ease-out forwards; }

@-webkit-keyframes icoAnimCl {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; } }

@keyframes icoAnimCl {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; } }

@-webkit-keyframes icoAnimCc {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; } }

@keyframes icoAnimCc {
  0%, 100% {
    -webkit-transform: none;
    transform: none;
    opacity: 1; }
  49% {
    -webkit-transform: translateX(-20px) scale(1.3);
    transform: translateX(-20px) scale(1.3);
    opacity: 0; }
  50% {
    -webkit-transform: translateX(20px) scale(1.3);
    transform: translateX(20px) scale(1.3);
    opacity: 0; } }
    #s1 .slides h1 {
      position: absolute;
      text-transform: uppercase;
      font-size: 100px;
      -webkit-transform: perspective(500px) rotateY(-8deg) translateY(-200px);
      transform: perspective(500px) rotateY(-8deg) translateY(-200px);
      padding: 25px 50px;
      background: #1A1C28;
      width: auto !important;
      text-align: center;
      z-index: 1;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
    #s1 .slides .slide {
      max-width: 1000px;
      height: 600px;
      opacity: 0;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      position: relative;
      -webkit-transition: all .3s ease-out !important;
      -o-transition: all .3s ease-out !important;
      transition: all .3s ease-out !important;
      -webkit-transform: perspective(1000px) rotateY(-8deg) translateX(200px);
      transform: perspective(1000px) rotateY(-8deg) translateX(200px); }
      #s1 .slides .slide img {
        height: 600px;
        max-width: 900px;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        z-index: 1; }
      #s1 .slides .slide:After {
        content: '';
        position: absolute;
        top: -5%;
        left: 5%;
        width: 100%;
        height: 100%;
        background: #1C1F2E;
        z-index: 0; }
    #s1 .slides .active {
      opacity: 1;
      -webkit-transform: perspective(500px) rotateY(-8deg) translateX(0);
      transform: perspective(500px) rotateY(-8deg) translateX(0); }

#s2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  #s2 .photo {
    position: absolute;
    bottom: 0px;
    left: 100px;
    max-height: 1100px;
    max-width: 1300px;
    -webkit-transform: perspective(400px) rotateY(8deg) translateX(200px);
    transform: perspective(400px) rotateY(8deg) translateX(200px); }
  #s2 .text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1200px;
    height: 1200px;
    margin-right: -300px;
    margin-top: -700px; }
    #s2 .text .desc {
      position: absolute;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: end;
      -ms-flex-align: end;
      align-items: flex-end;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      z-index: 2; }
      #s2 .text .desc h1, #s2 .text .desc ul {
        max-width: 400px;
        margin: 0;
        padding: 0; }
      #s2 .text .desc h1 {
        font-size: 60px;
        text-transform: uppercase;
        margin: 15px 0;
        border-bottom: 3px solid #F30647; }
      #s2 .text .desc li {
        font-size: 22px;
        line-height: 30px; }
    #s2 .text .circles {
      width: 1200px;
      height: 1200px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      z-index: 1; }
      #s2 .text .circles .circle {
        z-index: 1;
        background: #4067F580;
        border-radius: 50%;
        position: absolute;
        -webkit-box-shadow: inset 0 0 10px 5px #00000050;
        box-shadow: inset 0 0 10px 5px #00000050; }
        #s2 .text .circles .circle:nth-child(1) {
          width: 1000px;
          height: 1000px; }
        #s2 .text .circles .circle:nth-child(2) {
          width: 800px;
          height: 800px; }
        #s2 .text .circles .circle:nth-child(3) {
          width: 600px;
          height: 600px; }

#s3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-perspective: 1000px;
  perspective: 1000px; }
  #s3 .photo {
    position: relative;
    top: -150px;
    right: 100px;
    left: unset !important;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    #s3 .photo img {
      position: absolute;
      left: 0;
      max-height: 600px;
      max-width: 800px; }
      #s3 .photo img:nth-child(2) {
        margin-left: 250px; }
  #s3 .text {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    width: 1200px;
    height: 1200px;
    margin-left: -200px;
    margin-top: 500px; }
    #s3 .text .desc {
      position: absolute;
      z-index: 1;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #s3 .text .desc h1, #s3 .text .desc ul {
        max-width: 400px;
        margin: 0;
        padding: 0; }
      #s3 .text .desc ul {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        list-style-type: none; }
        #s3 .text .desc ul li {
          margin: 15px 30px 25px 0;
          display: -webkit-box;
          display: -ms-flexbox;
          display: flex;
          -webkit-box-orient: vertical;
          -webkit-box-direction: normal;
          -ms-flex-direction: column;
          flex-direction: column;
          -webkit-box-align: center;
          -ms-flex-align: center;
          align-items: center; }
          #s3 .text .desc ul li img {
            height: 50px;
            margin-bottom: 15px; }
          #s3 .text .desc ul li span {
            font-size: 18px;
            text-transform: capitalize; }
      #s3 .text .desc h1 {
        font-size: 60px;
        text-transform: uppercase;
        margin: 15px 0 35px;
        border-bottom: 3px solid #F30647; }
      #s3 .text .desc p {
        font-size: 18px;
        max-width: 400px; }
    #s3 .text .circles {
      width: 1200px;
      height: 1200px;
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      -webkit-transform: scale(1.15);
      -ms-transform: scale(1.15);
      transform: scale(1.15); }
      #s3 .text .circles .circle {
        background: #4067F580;
        border-radius: 50%;
        position: absolute;
        -webkit-box-shadow: inset 0 0 10px 5px #00000050;
        box-shadow: inset 0 0 10px 5px #00000050; }
        #s3 .text .circles .circle:nth-child(1) {
          width: 1000px;
          height: 1000px; }
        #s3 .text .circles .circle:nth-child(2) {
          width: 800px;
          height: 800px; }
        #s3 .text .circles .circle:nth-child(3) {
          width: 600px;
          height: 600px; }

#s4 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  #s4 .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-bottom: 75px; }
    #s4 .text h1 {
      font-size: 60px;
      text-transform: uppercase;
      margin: 15px 0 0;
      border-bottom: 3px solid #F30647; }
    #s4 .text p {
      font-size: 18px;
      max-width: 400px; }
  #s4 .photo {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-perspective: 500px;
    perspective: 500px; }
    #s4 .photo .prodpage {
      width: 60%;
      -webkit-transform: perspective(500px) rotateX(10deg);
      transform: perspective(500px) rotateX(10deg); }
    #s4 .photo .product {
      position: absolute;
      max-height: 300px;
      left: 500px;
      -webkit-animation: floatMe 20s linear infinite;
      animation: floatMe 20s linear infinite; }
      #s4 .photo .product:nth-child(2) {
        opacity: 0; }

@-webkit-keyframes floatMe {
  0%, 100% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1); }
  25% {
    -webkit-transform: translateY(10px) scale(0.975);
    transform: translateY(10px) scale(0.975); }
  75% {
    -webkit-transform: translateY(-10px) scale(1.025);
    transform: translateY(-10px) scale(1.025); } }

@keyframes floatMe {
  0%, 100% {
    -webkit-transform: translateY(0px) scale(1);
    transform: translateY(0px) scale(1); }
  25% {
    -webkit-transform: translateY(10px) scale(0.975);
    transform: translateY(10px) scale(0.975); }
  75% {
    -webkit-transform: translateY(-10px) scale(1.025);
    transform: translateY(-10px) scale(1.025); } }

#s5 {
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between; }
  #s5 .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    margin-top: 150px; }
    #s5 .text h1 {
      font-size: 60px;
      text-transform: uppercase;
      margin: 15px 0 0;
      z-index: 1;
      border-bottom: 3px solid #F30647; }
    #s5 .text p {
      font-size: 18px;
      max-width: 400px;
      z-index: 1; }
  #s5 .circles {
    width: 1200px;
    height: 1200px;
    position: absolute;
    top: 200px;
    right: -200px;
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    z-index: 0; }
    #s5 .circles .circle {
      background: #4067F580;
      border-radius: 50%;
      position: absolute;
      -webkit-box-shadow: inset 0 0 10px 2px #00000080;
      box-shadow: inset 0 0 10px 2px #00000080; }
      #s5 .circles .circle:nth-child(1) {
        width: 1000px;
        height: 1000px; }
      #s5 .circles .circle:nth-child(2) {
        width: 800px;
        height: 800px; }
      #s5 .circles .circle:nth-child(3) {
        width: 600px;
        height: 600px; }
  #s5 .nextproject {
    z-index: 1;
    -webkit-transform: translateZ(1px);
    transform: translateZ(1px);
    width: 100%;
    border-top: 25px solid #050505;
    border-bottom: 25px solid #050505;
    height: 40vh;
    background: -webkit-gradient(linear, left top, left bottom, from(#01051390)), url(/img/sap_1.jpg);
    background: -webkit-linear-gradient(#01051390), url(/img/sap_1.jpg);
    background: -o-linear-gradient(#01051390), url(/img/sap_1.jpg);
    background: linear-gradient(#01051390), url(/img/sap_1.jpg);
    background-size: cover;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #s5 .nextproject .button {
      width: 150px;
      height: 20px;
      padding: 10px 50px;
      font-size: 22px;
      line-height: 22px;
      text-align: center;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      color: #fff;
      background: #00000000;
      background: url(/img/btn_red.svg);
      background-size: contain;
      background-repeat: no-repeat; }
    #s5 .nextproject h1 {
      text-transform: uppercase;
      font-size: 90px; }
      #s5 .nextproject h1 span {
        color: #FF0A5E; }
