@import '../sass/var.scss';

html,body{
    padding: 0;
    margin: 0;
    font-family: $mainFont;
    width: 100%;
    height: 100%;
    overflow: hidden;
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    width: 0;
}

a{
    text-decoration: none;
}

.button{
    width: 150px;
    height: 20px;
    padding: 10px 50px;
    font-size: 22px;
    line-height: 22px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    background: #00000000;
}

#navbar{
    position: fixed;
    top: 0;
    left: 0;
    width: calc(100% - 240px);
    height: 100px;
    display: flex;
    justify-content: space-between;
    padding: 0 120px;
    margin-top: 70px;
    z-index: 998;
    #logo{
        height: 100%;
        display: flex;
        opacity: .75;
        transition: opacity .3s ease-out;
        .col{
            height: 100%;
            h1{
                text-transform: uppercase;
                margin: 0;
                font-size: 18px;
                text-align: center;
                color: #ffffff;
            }
            img{
                height: 100%;
            }
            &:nth-child(1){
                display: flex;
                flex-direction: column;
                h1{
                    letter-spacing: 3px;
                }
            }
            &:nth-child(2){
                h1{
                    writing-mode: vertical-rl;
                    text-orientation: upright;
                    letter-spacing: -6px;
                    font-size: 18px;
                }
            }
        }
        &:hover{
            opacity: .9;
        }
    }
    #burger{
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;     
    }
}
nav{
    position: fixed;
    width: 100%;
    height: 100vh;
    z-index: 999;
    background: #050505;
    .container{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        background: linear-gradient(5deg,$mainColorDarker,#000);
        .close{
            position: absolute;
            top: 70px;
            right: 150px;
            z-index: 1001;
            width: 50px;
            height: 50px;
            img{
                width:50px;
                height: 50px;
            }
        }
        ul{
            list-style-type: none;
            margin: 0;
            position: relative;
            right: 0;
            width: 100%;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            li{
                border-radius: 50%;
                animation: shadowAnim 5s linear infinite;
                position: absolute;
                box-shadow: -2px 5px 5px 0 $darkRed;
                transition: box-shadow .4s linear;
                display: flex;
                justify-content: center;
                align-items: center;
                background: #00000020;
                &:hover{
                    animation-play-state: paused;
                    background: #00000050;
                    h1{
                        opacity: .6;
                    }
                }
                &:nth-child(1){
                    width: 250px;
                    height: 250px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    z-index: 6;
                    animation-delay: .7s;
                    &:hover{
                        animation-play-state: running;
                        box-shadow: -2px 5px 5px 0 #ffffff30;
                    }
                    img{
                        max-width: 60%;
                        border-radius: 50%;
                        filter: brightness(1.5) blur(2px);
                    }
                }
                &:nth-child(2){
                    width: 450px;
                    height: 450px;
                    z-index: 5;
                    a{
                        h1{                         
                        animation: spinMeClockwise 270s linear infinite;                        
                        }
                    }
                }
                &:nth-child(3){
                    width: 650px;
                    height: 650px;
                    z-index: 4;
                    animation-delay: 2s;
                    a{
                        h1{                         
                        animation: spinMeCounterClockwise 240s linear infinite;                        
                        }
                    }
                }
                &:nth-child(4){
                    width: 850px;
                    height: 850px;
                    z-index: 3;
                    animation-delay: 4s;
                    a{
                        h1{                         
                        animation: spinMeClockwise 300s linear infinite;                        
                        }
                    }
                }
                &:nth-child(5){
                    width: 1250px;
                    height: 1250px;
                    &:hover{
                        background: #00000020;
                    }
                }
                &:nth-child(6){
                    width: 1850px;
                    height: 1850px;
                    &:hover{
                        background: #00000020;
                    }
                }
                a{
                    width: 100%;
                    height: 100%;
                    border-radius: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    h1{
                        font-size: 26px;
                        color: #fff; 
                        opacity: .3;
                        margin: 0;
                        transition: opacity .5s;
                        text-transform: uppercase;
                        letter-spacing: 2px;
                    }
                }
            }
            
            @keyframes spinMeClockwise {
                0%{
                    transform: rotate(0);
                }
                100%{
                    transform: rotate(360deg);
                }
                
            }
            @keyframes spinMeCounterClockwise {
                0%{
                    transform: rotate(0);
                }
                100%{
                    transform: rotate(-360deg);
                }
                
            }
            @keyframes shadowAnim {
                0%,100%{
                    box-shadow: -2px 5px 5px 0 #70032090;
                }
                25%{                    
                    box-shadow: 0 7px 3px 0 #70032090;
                }
                66%{
                    box-shadow: -5px 0 7px 0 #70032090;
                }
            }
        }
    }
}
.sm{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    position: fixed;
    bottom: 140px;
    right: 3px;
    li{
        width: 40px;
        height: 40px;        
        margin: .5px 0;
        display: flex;
        justify-content: center;
        align-items: center;
        img{
            max-height: 30px;
            max-width: 30px;
        }
    }
}


.scroll-indicator{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
    top: calc(100% - 300px);
    left: 200px;
    height: 300px;
    width: 50px;
    span{
        position: absolute;
        color: #fff;
        font-size: 22px;
        transform: translateX(-120px) translateY(35px) rotateZ(-90deg);
        width: 100px;
        border-top: 3px solid $lightRed;
        padding-top: 5px;
        animation: flash 3s infinite;
    }
    @keyframes flash {
        0%,100%{
            opacity: 1;
        }
        50%{
            opacity: .5;
        }
    }
}

section{
    height: 100vh;
    width: 100%;
    position: relative;
    overflow: visible;
}

.wrap{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    background: url(/img/mainBg.svg);
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    #s1{
        .circles{
            width: 100vw;
            height: 100vh;
            pointer-events: none;
            position: absolute;
            top: 0;
            left: 0;
            display: flex;
            align-items: center;
            z-index: 0 !important;
            opacity: .25; 
            overflow: hidden;
            .circle{
                position: absolute;
                border-radius: 50%;
                box-shadow: 0 0 5px 2px #ffffff30;
                background: radial-gradient(#000000, $mainColorLighter);
                &:nth-child(1){
                    width: 150px;
                    height: 150px;
                    left: 450px;
                    z-index: 5;
                }
                &:nth-child(2){
                    width: 300px;
                    height: 300px;
                    left: 375px;
                    z-index: 4;
                }
                &:nth-child(3){
                    width: 600px;
                    height: 600px;
                    left: 250px;
                    z-index: 3;
                }
                &:nth-child(4){
                    width: 1200px;
                    height: 1200px;
                    left: 100px;
                    z-index: 2;
                }
                &:nth-child(5){
                    width: 2000px;
                    height: 2000px;
                    z-index: 1;
                    left: -150px;
                }
            }
        }
        .text{
            height: 100%;
            position: absolute;
            right: 0;
            padding: 0 200px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            flex-direction: column;
            width: 40%;
            text-align: right;
            div{
                overflow: hidden;
            }
            h1{
                margin: 0;
                color: #f2f2f2;
                font-size: 3em;
                line-height: 1.4em;
                margin-top: 140px;
                span{
                    font-size: 1.5em;
                    color: $lightRed;
                }
            }
            p{
                font-size: 1.3em;
                margin: 0;
                margin-top: 35px;
                margin-bottom: 70px;
                line-height: 1.5em;
                color: #ddd;
            }   
            a{
                background: url(/img/btn_red.svg);
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
    .project{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .container{
            width: calc(100% - 400px);
            height: calc(100% - 200px);
            background: $mainColorDarker;
            display: grid;
            grid-template-columns: repeat(4,25%);
            grid-template-rows: repeat(4, 50%);
            margin-top: 70px;
            .background{
                grid-area: 1/1/3/5;
                background: $mainColorDarker;
            }
            .title{
                grid-area: 2/3/auto/span 2;
                background: $mainColorLighter;
                display: flex;
                justify-content: left;
                align-items: center;
                padding: 35px 70px;
                z-index: 1;
                user-select: none;
                h1{
                    font-size: 120px;
                    max-width: 80%;
                    margin: 0;
                    width: 30%;
                    text-align: center;
                    text-transform: uppercase;
                    z-index: 1;
                    color: #0057AA;
                    letter-spacing: 5px;
                    span{
                        color: #fff;
                    }
                }
                h2{
                    font-size:250px;
                    color: transparent;
                    -webkit-text-stroke: 1px #fff;
                    opacity: .025;
                    font-family: 'Lucida Sans', sans-serif;
                    margin-left: 70px;
                }
            }
            .description{
                grid-area: 1/1/3/1;
                background: $mainColorLighter;
                padding: 35px 70px;
                z-index: 1;
                h1{
                    color: $lightRed;
                    font-weight: 300;
                    user-select: none;
                }
                p{
                    color: #eee;
                }
                .colors{
                    display: flex;
                    justify-content: space-between;
                    .color{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        flex-direction: column;
                        .marker{
                            border-radius: 50%;
                            height: 50px;
                            width: 50px;
                            background: #fff;
                            user-select: none;
                        }
                        h3{
                            color: #eee;
                            font-weight: 300;
                        }
                    }
                }
                .typography{
                    display: flex;
                    justify-content: space-between;
                    .col{
                        display: flex;
                        flex-direction: column;
                        justify-content: space-around;
                        align-items: flex-start;
                        h1{
                            font-weight: 300;
                            font-size: 40px;
                            margin: 5px 0;
                            color: #fff;
                        }
                        span{
                            color: #ddd;
                        }
                    }
                }
                a{
                    background: url(/img/btn_red.svg);
                    background-size: contain;
                    background-repeat: no-repeat;
                    margin-top: 70px;
                    user-select: none;
                }
            }
            .photo-sm1{
                grid-area: 1/2/1/3;
                background: $lightRed;
                z-index: 0;
                background-size: cover !important;
            }
            .photo-sm2{
                grid-area: 1/4/1/4;
                background: $darkRed;
                z-index: 0;
                background-size: cover !important;
            }
        }
        .controlls{
            display: flex;
            margin-top: 35px;
            position: relative;
            .next,.prev{
                display: flex;
                justify-content: center;
                align-items: center;
                h1{
                    position: absolute;
                    font-size: 70px;
                    bottom: -15px;
                    padding-bottom: 5px;
                    -webkit-text-stroke: 1px #ffffff10;
                    color: transparent;
                    margin: 0;
                    font-family: 'Lucida Sans', sans-serif;
                    user-select: none;
                    pointer-events: none;
                }
                a{
                    border-bottom: 3px solid $lightRed;
                    margin: 0 10px;
                    font-size: 30px;
                }
            }
            .next{
                h1{
                    right: 0;
                }
            }
            .prev{
                h1{
                    left:0;
                }
            }
        }
    }
    #s2{
        .container{
            .background{
                background: linear-gradient(#0057AA90,#0057AA90), url(/img/tesat_p1.jpg);
                background-position: 30% 100%;
            }
            .photo-sm1{
                background: linear-gradient(#0057AA50,#0057AA50), url(/img/tesat_p2.jpg);
            }
            .photo-sm2{
                background: linear-gradient(#0057AA60,#0057AA60), url(/img/tesat_p1.jpg);
            }
        }
    }
    #s3{
        .title{
            h1{
                color:#FF0A5E;
            }
        }
        .container{
            .background{
                background: linear-gradient(#FFE7DB90,#FFE7DB90), url(/img/sap_1.png);
            }
            .photo-sm1{
                background: linear-gradient(#FFE7DB70,#FFE7DB70), url(/img/sap_3.jpg);
            }
            .photo-sm2{
                background: linear-gradient(#FFE7DB70,#FFE7DB70), url(/img/sap_3.jpg);
            }
        }
    }
    #s4{
        .container{
            .background{
                background: linear-gradient(#0057AA90,#0057AA90), url(/img/tesat_p1.jpg);
                background-position: 30% 100%;
            }
            .photo-sm1{
                background: linear-gradient(#0057AA50,#0057AA50), url(/img/tesat_p2.jpg);
            }
            .photo-sm2{
                background: linear-gradient(#0057AA60,#0057AA60), url(/img/tesat_p1.jpg);
            }
        }
    }
}