$mainColorDarker: #1A1C28;
$mainColorLighter: #1C1F2E;
$lightRed: #F30647;
$darkRed: #700320;


@import url('https://fonts.googleapis.com/css?family=Cormorant+Garamond:300,400&display=swap');

$mainFont: 'Cormorant Garamond', serif;